
@font-face {
    font-family: textile_regular;
    src: url("textile_regular.ttf") format('truetype');
}
.header{
    font-family: textile_regular;
    font-weight: 9;
    font-size: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
   
}
#output{
    display: none;
    margin-top: 10px;
}

#area{
    resize: none;
}
form{
    display: flex;
    align-items: center;
    padding-top: 10px;
    
}
button{
    margin-left: 20px;
    height: 40px;
    width: 130px;
    font-size: 20px;
}
#loading{
    font-size: 40px;
    font-weight: 900;

}
:root{
    background-color: rgb(250, 246, 8);
}
canvas{
    width: 100%
}
video{
    width: 100%;
}